NEXT_PUBLIC_SUPABASE_URL=https://swgpwbrtxvezkykablws.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_9r1va6JjYbcbXmnDn7Z6CQ_-VrBW0Yu
SUPABASE_SERVICE_ROLE_KEY=
SESSION_SECRET=
APP_DEFAULT_PASSWORD=@123456@
